# File Python temporanei
__pycache__/
*.py[cod]

# Ambiente virtuale Python
env/
venv/
.venv/

# Ambiente virtuale specifico del progetto
analyzer_env/

# Backup
Backup_Project_Analyzer*

# File wheel (meglio installare da pip)
*.whl

# File compilati MT5
*.ex5

# File con password e chiavi
.env
*_private.json
*_secret*

# Log
*.log
logs/

# File di sistema
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Backup
*.bak
*.backuptest_analyzer_data/*.jsonl
